body {
    color: #292728;
    font-family: Asap, Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    padding: 40px 0;
}

.title h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 20px;
}

.title p {
    color: #B4B4B4;
}