body{ 	
	background-color: #FBF8FB;
	font-family: 'Asap', sans-serif;
	color:#292728;
}

.header{
	background-color: white;
	border-bottom: solid #EFEFEE;
	color: #9E999C;
	justify-content: space-between;
	display : flex;
}

.header__logo, .header__utilisateur{
	padding : 20px 40px;
}

.header__logo img, .header__utilisateur img {
	width:50px;
	margin-right: 16px;
    vertical-align: middle;
}

.header__utilisateur img {
	border-radius: 50%;
}

.header__utilisateur{
	border-left: solid #EFEFEE;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	color: ;
}

.titre{
	padding: 40px 0;
}

.titre h1{
	font-weight: normal;
}

.titre .sousTitre{
	font-size: 20px;
	color: #B4B4B4;

}
