body{ 	
	background-color: #FBF8FB;
}

.section--header{
	border-bottom: solid #EFEFEE;
	color: #9E999C;
}

.logo{
	padding : 20px 40px;
}

.logo img{
	width:50px;
	margin-right: 16px;
    vertical-align: middle;
}
